*.log
*.txt


#sbt
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


#scalafix
#target/*
#project/target/*
#scalafix/input/target/*
#scalafix/project/*
#scalafix/rules/target/*
#scalafix/target/*
#scalafix/tests/target/*



#IntelliJ
.scala_dependencies
.worksheet
.idea
*.iml
