*.log
!/src/test/scala/parser/testLogs.log
*.txt

#sbt
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#IntelliJ
.scala_dependencies
.worksheet
.idea
*.iml
